/*
 * @Author: vimin 
 * @Date: 2020-04-12 10:51:21 
 * @Last Modified by: vimin
 * @Last Modified time: 2020-04-12 22:57:20
 */

/* 基础样式，也是公共样式 */

/* 以375*667尺寸为基准 */
html{
  font-size: 20px;
}

body{
  max-width: 640px;
  margin: 0 auto;
  background-color: #f8f8f8;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* 适配 */
@media (min-width: 410px){
  html{
    font-size: 22px;
  }
}

@media (max-width: 340px){
  html{
    font-size: 18px;
  }
}