/*
 * @Author: vimin 
 * @Date: 2020-04-12 11:23:40 
 * @Last Modified by: vimin
 * @Last Modified time: 2020-04-12 14:01:11
 */

/* 底部导航样式 */
.vm-tabbar{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .45rem 0 .5rem 0;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.vm-tabbar > .tabbar-item{
  width: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
}

.vm-tabbar> .tabbar-item > .dot{
  display: inline-block;
  position: absolute;
  width: .4rem;
  height: .4rem;
  text-align: center;
  border-radius: 50%;
  background-color: #FF0000;
  transform: translate(.5rem,.1rem);
}

.vm-tabbar> .tabbar-item > .badge{
  width: .8rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  font-size: .4rem;
  color: #fff;
  transform: translate(.4rem,0rem);
}

.vm-tabbar > .tabbar-item > .icon{
  height: 1.45rem;
  font-size: 1.5rem;
  color: #555;
}

.vm-tabbar > .tabbar-item > .name{
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  box-sizing: border-box;
  padding: 0 4px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555;
  font-size: .65rem;
}

.vm-tabbar > .tabbar-item > .active{
  color: #44BB5C;
}

